{% extends "layout.html" %}
{% load bootstrap4 %}
{% block body %}
    <div class="row">
        <div class="col">
            {% bootstrap_messages %}
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
<a class="btn btn-outline-warning" href="{% url 'todo:index' %}">back</a>
<h1>New</h1>
<hr>
{% endblock body %}